<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs', {title: desiredProduct.name}) %>
    <link rel="stylesheet" href="/css/styleProductDetails.css">
    <script defer src="/js/productCount.js"></script>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>


    <main>
        <!-- Producto -->
        <section class="main__product">
            <article class="main__product-container">
                <img src="/images/products/<%= desiredProduct.image %>" alt="Imagen del producto" class="main__product-img">
                <div class="main__product-text">
                    <h3><%= desiredProduct.name %></h3>
                    <p><b><%= desiredProduct.price %></b> COP</p>
                    <div class="main__product-details">
                        <h4>Autor(es):</h4>
                        <p><%= desiredProduct.author %></p>
                        <h4>P치ginas:</h4>
                        <p><%= desiredProduct.pages %></p>
                        <h4>Formato:</h4>
                        <p><%= desiredProduct.formats.format %></p>
                    </div>
                    <form action="/shopping-cart" method="post" class="main__product-shopping">
                        <div class="main__product-count">
                            <input type="hidden" value="<%= desiredProduct.product_id %>" name="id">
                            <button class="main__product-button-count minus" id="minus" data-id="<%= desiredProduct.product_id %>">-</button>
                            <input type="number" class="numberInput" name="amount" data-id="<%= desiredProduct.product_id %>" value="1">
                            <button class="main__product-button-count plus" id="plus" data-id="<%= desiredProduct.product_id %>">+</button>
                        </div>
                        <input type="submit" class="main__product-button-shopping" value="A침adir al carrito">
                    </form>
                    <% if (locals.isLogged && locals.userLogged.user_type_id == 2) { %>
                        <a href="/products/<%= desiredProduct.product_id %>/edit">
                            <button class="main__product-button-shopping">EDITAR</button>
                        </a>
                    <% } %>
                </div>
            </article>
        </section>

        <div class="main__description-review-container">
            <!-- Descripci칩n -->
            <section class="main__description-review">
                <h3>Descripci칩n</h3>
                <p>
                    <%= desiredProduct.description %>
                </p>
            </section>

            <!-- Valoraciones -->
            <section class="main__description-review">
                <h3>Valoraciones</h3>
                <p>No hay valoraciones de usuarios en este momento.</p>
            </section>
        </div>
        
        <!-- Productos relacionados -->
        <section class="main__related-products">
            <h2 class="main__related-products-title">Productos relacionados</h2>
            <div class="main__related-products-container-all">
                <% for(let i = 0; i < relatedProducts.length; i++) { %>
                    <% if (relatedProducts[i].product_id != desiredProduct.product_id) { %>
                        <article class="main__related-products-container">
                            <a href="/products/detail/<%= relatedProducts[i].product_id %>">
                                <img src="/images/products/<%= relatedProducts[i].image %>" alt="Imagen del producto" class="main__related-products-img">
                                <form action="/shopping-cart"  method="post">
                                    <input type="hidden" value="<%= relatedProducts[i].product_id %>" name="id">
                                    <button type="submit" class="shopping-cart__container">
                                        <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                                    </button>
                                </form>
                                <h3><%= relatedProducts[i].name %></h3>
                                <p><b><%= relatedProducts[i].price %></b> COP</p>
                            </a>
                        </article>
                    <% } %>
                    <% if(i >= 3) {
                        break;
                    } %>
                <% } %>
            </div>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>