<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Todos los productos'}) %>
    <link rel="stylesheet" href="/css/productsStyle.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <!-- Banner -->
        <div class="main__banner">
            <img src="/images/banner.png" alt="Banner">
            <div class="main__banner-text">
                <h2>Nuestros productos</h2>
            </div>
        </div>

        <!-- Imagen lateral -->
        <div class="main__side-container">
            <img src="/images/superman.png" alt="Superman" class="main__side-image">
        </div>

        <!-- Productos -->
        <section class="main__products">
            <% for(let i = 0; i < wantedProducts.length; i++) {%>
                <article class="product__container">
                    <a href="/products/detail/<%= wantedProducts[i].id %>">
                        <img src="/images/product/<%= wantedProducts[i].image %>" alt="Imagen de producto" class="products__img">
                        <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                        <h3><%= wantedProducts[i].name %></h3>
                        <p>$<%= wantedProducts[i].price %></p>
                    </a>
                </article>
             <% } %>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>