<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Marvel Team'}) %>
    <link rel="stylesheet" href="/css/productsStyle.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <!-- Banner -->
        <img src="/images/mainSlider/slider2.png" alt="Banner Marvel" class="main__banner-img main__banner-img-above">
        <img src="/images/mainSlider/slider2.png" alt="Banner Marvel" class="main__banner-img">
        <div class="main__banner main__banner-marvel">
            <video src="/images/categories/introMarvel.mp4" alt="Banner" autoplay muted loop></video>
        </div>

        <!-- Productos -->
        <div class="main__products-tittle main__products-tittle-marvel">
            <h1>TEAM</h1>
            <h1>MARVEL</h1>
        </div>
        <section class="main__products">
            <% for(let i = 0; i < productsInCategory.length; i++) {%>
                <article class="product__container product__container-marvel">
                    <a href="/products/detail/<%= productsInCategory[i].product_id %>">
                        <img src="/images/products/<%= productsInCategory[i].image %>" alt="Imagen de producto" class="products__img">
                        <form action="/shopping-cart"  method="post">
                            <input type="hidden" value="<%= productsInCategory[i].product_id %>" name="id">
                            <button type="submit" class="shopping-cart__container">
                                <i class="fa-solid fa-cart-shopping fa-cart-shopping-products fa-cart-shopping-products-marvel"></i>
                            </button>
                        </form>
                        <h3><%= productsInCategory[i].name %></h3>
                        <p><b><%= productsInCategory[i].price %></b> COP</p>
                    </a>
                </article>
             <% } %>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>