<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs', {title: 'Comic vs Manga'}) %>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/opacity.js"></script>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <!-- Slider de imágenes -->
        <div class="main__slider-img main__slider-img-nooverlay" >
            <ul>
                <li>
                    <img src="/images/mainSlider/slider1.png" alt="Slider Manga" class="slider__img slider__img-above">
                </li>
                <li>
                    <img src="/images/mainSlider/slider2.png" alt="Slider Marvel" class="slider__img slider__img-above">
                </li>
                <li>
                    <img src="/images/mainSlider/slider3.png" alt="Slider DC" class="slider__img slider__img-above">
                </li>
                <li>
                    <img src="/images/mainSlider/slider4.png" alt="Slider Independiente" class="slider__img slider__img-above">
                </li>
            </ul>
        </div>
        <div class="main__slider-img">
            <ul>
                <li>
                    <img src="/images/mainSlider/slider1.png" alt="Slider Manga" class="slider__img">
                </li>
                <li>
                    <img src="/images/mainSlider/slider2.png" alt="Slider Marvel" class="slider__img">
                </li>
                <li>
                    <img src="/images/mainSlider/slider3.png" alt="Slider DC" class="slider__img">
                </li>
                <li>
                    <img src="/images/mainSlider/slider4.png" alt="Slider Independiente" class="slider__img">
                </li>
            </ul>
        </div>
        <div class="main__slider">
            <ul>
                <li>
                    <h1 class="slider__title-1 slider__title1-manga">TEAM</h1>
                    <div class="slider__title-2 slider__title2-manga">
                        <div></div>
                        <h1>MANGA</h1>
                    </div>
                    <h2>¡La mejor fantasía!</h2>
                </li>
                <li>
                    <h1 class="slider__title-1 slider__title1-marvel">TEAM</h1>
                    <div class="slider__title-2 slider__title2-marvel">
                        <div></div>
                        <h1>MARVEL</h1>
                    </div>
                    <h2>¡Increíbles batallas e historias!</h2>
                </li>
                <li>
                    <h1 class="slider__title-1 slider__title1-dc">TEAM</h1>
                    <div class="slider__title-2 slider__title2-dc">
                        <div></div>
                        <h1>DC COMICS</h1>
                    </div>
                    <h2>¡Historias de múltiples universos!</h2>
                </li>
                <li>
                    <h1 class="slider__title-1 slider__title1-independent">TEAM</h1>
                    <div class="slider__title-2 slider__title2-independent">
                        <div></div>
                        <h1>INDEPENDIENTE</h1>
                    </div>
                    <h2>¡Máxima diversidad!</h2>
                </li>
            </ul>
        </div>

        <!-- Categorías -->
        <div class="main__categories1"></div>
        <section class="main__categories">
            <div class="main__categories-title">
                <h2>EQUIPOS</h2>
                <h3>¡Elige tu equipo de batalla!</h3>
            </div>
            <div class="main__slider-all">
                <!-- Slider Marvel -->
                <article class="main__slider-container main__slider-container-marvel">
                    <a href="/products/marvel" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/marvelSlider/sliderMarvel1.png" alt="Imagen Marvel 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/marvelSlider/sliderMarvel2.png" alt="Slider Marvel 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/marvelSlider/sliderMarvel3.png" alt="Slider Marvel 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">TEAM <B>MARVEL</B></h2>
                </article>
                <!-- Slider DC -->
                <article class="main__slider-container main__slider-container-DC">
                    <a href="/products/dc" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/dcSlider/sliderDC1.png" alt="Imagen DC 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/dcSlider/sliderDC2.png" alt="Slider DC 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/dcSlider/sliderDC3.png" alt="Slider DC 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">TEAM <B>DC COMICS</B></h2>
                </article>
                <!-- Slider Manga -->
                <article class="main__slider-container main__slider-container-manga">
                    <a href="/products/manga" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/mangaSlider/sliderManga1.png" alt="Imagen Manga 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/mangaSlider/sliderManga2.png" alt="Slider Manga 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/mangaSlider/sliderManga3.png" alt="Slider Manga 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">TEAM <B>MANGA</B></h2>
                </article>
                <!-- Slider Independiente -->
                <article class="main__slider-container main__slider-container-independent">
                    <a href="/products/independent" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/independentSlider/sliderIndependiente1.png" alt="Imagen Independiente 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/independentSlider/sliderIndependiente2.png" alt="Slider Independiente 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/independentSlider/sliderIndependiente3.png" alt="Slider Independiente 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">TEAM <B>INDEPENDIENTE</B></h2>
                </article>
            </div>
            <div class="main__categories-title2">
                <h2>EQUIPOS</h2>
                <h3>¡Elige tu equipo de batalla!</h3>
                <div>
                    <a class="main__categories-title2-marvel" href="/products/marvel">TEAM <b>MARVEL</b></a>
                    <a class="main__categories-title2-DC" href="/products/dc">TEAM <b>DC COMICS</b></a>
                    <a class="main__categories-title2-manga" href="/products/manga">TEAM <b>MANGA</b></a>
                    <a class="main__categories-title2-independent" href="/products/independent">TEAM <b>INDEPENDIENTE</b></a>
                </div>
            </div>
        </section>
        <div class="main__categories2"></div>

        <!-- Productos destacados -->
        <div class="main__featured-products1"></div>
        <section class="main__featured-products">
            <h2 class="featured-products__title">Batallas<br>destacadas</h2>
            <img src="/images/battles.png" alt="Titulo productos destacados" class="featured-products__title-img featured-products__title-img-above">
            <img src="/images/battles1.png" alt="Titulo productos destacados" class="featured-products__title-img">
            <div class="featured-products__container-all">
                <% for(let i = 0; i < featuredProducts.length; i++) { %>
                    <article class="featured-products__container">
                        <a href="/products/detail/<%= featuredProducts[i].product_id %>">
                            <img src="/images/products/<%= featuredProducts[i].image %>" alt="Imagen del producto" class="featured-products__img">
                            <form action="/shopping-cart" method="post">
                                <input type="hidden" value="<%= featuredProducts[i].product_id %>" name="id">
                                <button type="submit" href="/shopping-cart" class="shopping-cart__container">
                                    <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                                </button>
                            </form>
                            <h3><%= featuredProducts[i].name %></h3>
                            <p><b><%= featuredProducts[i].price %></b> COP</p>
                        </a>
                    </article>
                <% } %>
            </div>
        </section>
        <div class="main__featured-products2"></div>

        <!-- Beneficios -->
        <div class="main__advantages1"></div>
        <section class="main__advantages">
            <h2 class="advantages__title">¡Lucha a<br>nuestro lado!</h2>
            <img src="/images/advantages.png" alt="Titulo beneficios" class="advantages__title-img advantages__title-img-above">
            <img src="/images/advantages1.png" alt="Titulo beneficios" class="advantages__title-img">
            <div class="advantage__container-all">
                <article class="advantage__container">
                    <i class="fa-solid fa-truck"></i>
                    <p>Envios a toda Colombia</p>
                </article>
                <article class="advantage__container">
                    <i class="fa-solid fa-credit-card"></i>
                    <p>Diversos medios de pago</p>
                </article>
                <article class="advantage__container">
                    <i class="fa-solid fa-face-grin-beam"></i>
                    <p>Gran diversidad</p>
                </article>
            </div>
            <img src="/images/advantages.png" alt="Titulo beneficios" class="advantages__title-img2 advantages__title-img-above2">
            <img src="/images/advantages1.png" alt="Titulo beneficios" class="advantages__title-img2">
        </section>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>