<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Carrito de compras'}) %>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleProductDetails.css">
    <link rel="stylesheet" href="/css/stylecarrito.css">
    <link rel="stylesheet" href="/css/productsStyle.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
        <main>
            <!-- Banner del carrito de compras-->
            <div class="main__banner">
                <img src="/images/categories/bannerStore.png" alt="Banner">
                <div class="main__banner-text">
                    <h2 class="title-cart">Carrito de compras</h2>
                </div>
            </div>

            <!-- Sección del carrito de compras-->
            <div class="site-content" id="lista">
                <h2 class="shopCartTitle">Tus Productos Elegidos</h2>
                <div class="row">
                    <div class="columns">
                        <div class="article">
                            <img src="/images/products/product2.png" alt="Producto 1" class="image-product">
                            <div class="info-card">
                                <h4 class="name-card">LA NOCHE MÁS OSCURA</h4>
                                <h4 class="unities-card"> 1 Unidad</h4>
                                <p class="type-price">$<span class="price">375000</span> </p>
                                <hr>
                                <div class="main__product-shopping">
                                    <div class="main__product-count">
                                        <button class="main__product-button-count minus">-</button>
                                        <input type="number" value="1">
                                        <button class="main__product-button-count plus">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="article">
                            <img src="/images/products/product1.png" alt="Producto 1" class="image-product">
                            <div class="info-card">
                                <h4 class="name-card">VOTA A LOKI</h4>
                                <h4 class="unities-card"> 1 Unidad</h4>
                                <p class="type-price">$<span class="price">81000</span> </p>
                                <hr>
                                <div class="main__product-shopping">
                                    <div class="main__product-count">
                                        <button class="main__product-button-count minus">-</button>
                                        <input type="number" value="1">
                                        <button class="main__product-button-count plus">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="article">
                            <img src="/images/products/product3.png" alt="Producto 1" class="image-product">
                            <div class="info-card">
                                <h4 class="name-card">SHINGEKI NO KYOJIN </h4>
                                <h4 class="unities-card"> 1 Unidad</h4>
                                <p class="type-price">$<span class="price">56000</span> </p>
                                <hr>
                                <div class="main__product-shopping">
                                    <div class="main__product-count">
                                        <button class="main__product-button-count minus">-</button>
                                        <input type="number" value="1">
                                        <button class="main__product-button-count plus">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="subtotal-section-container">
                        <p class="subtotal">Subtotal $  <Span class=" span-price"> 512.000</Span></p>
                        <p class="pesos">  </p>
                        
                </div>



        <!-- Productos destacados -->
        <div class="main__featured-products1"></div>
        <section class="main__featured-products">
            <h2 class="main__related-products-title shopCartRelated">Tambien puedes Llevar</h2>
            <div class="featured-products__container-all">
                <% for(let i = 0; i < featuredProducts.length; i++) { %>
                    <article class="featured-products__container">
                        <a href="/products/detail/<%= featuredProducts[i].id %>">
                            <img src="/images/products/<%= featuredProducts[i].image %>" alt="Imagen del producto" class="featured-products__img">
                            <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                            <h3><%= featuredProducts[i].name %></h3>
                            <p>$<%= featuredProducts[i].price %></p>
                        </a>
                    </article>
                <% } %>
            </div>
            <div class="second_section_button">
                <a href="#" class="btn-flotante">Finalizar compra</a>
            </div>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</section>

</body>
</html>