<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Creación de Productos'}) %>
    <link rel="stylesheet" href="/css/styleProductCreation.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <div class="main-container">
            <h2 class="main__form-tittle">Creación de productos</h2>
            <form action="/products/create" method="post" class="main__form" enctype="multipart/form-data">
                <div>
                    <label for="name" class="main__form-label">Nombre del producto</label>
                    <input type="text" name="name" id="name" class="" required>
                </div>
                
                <div>
                    <label for="description" class="main__form-label">Descripción</label>
                    <textarea name="description" id="description" class="" rows="5"></textarea>
                </div>
    
                <div>
                    <label for="image" class="main__form-upload">Subir imagen</label>
                    <input type="file" name="image" id="image" accept="image/*" class="">
                </div>
    
                <div>
                    <label for="category" class="main__form-label">Categorías</label>
                    <% for( let i = 0; i < categories.length; i++ ) { %>
                        <label><input type="checkbox" name="category" value="<%= categories[i].category_id %>" class=""><%= categories[i].category %></label>
                    <% } %>
                </div>
                
                <div>
                    <label for="author" class="main__form-label">Autores</label>
                    <input type="text" name="author" id="author" class="" required>
                </div>
                
                <select name="format" class="" required>
                    <option disabled selected>Seleccione formato</option>
                    <% for( let i = 0; i < formats.length; i++ ) { %>
                        <option value="<%= formats[i].format_id %>"><%= formats[i].format %></option>
                    <% } %>
                </select>
                
                <div>
                    <label for="pages" class="main__form-label">Páginas</label>
                    <input type="number" name="pages" id="pages" class="" required>
                </div>
                
                <div>
                    <label for="price" class="main__form-label">Precio</label>
                    <input type="number" name="price" id="price" class="" required>
                </div>

                <div>
                    <label><input type="checkbox" name="featured" class="" id="featured">Producto destacado</label>
                </div>

                <div>
                    <label><input type="checkbox" name="onSale" class="" id="onSale">Producto en oferta</label>
                </div>

                <div>
                    <label for="discount" class="main__form-label">Descuento</label>
                    <input type="number" name="discount" class="" required placeholder="Si no está en oferta, es cero (0)">
                </div>

                <div>
                    <label for="stock" class="main__form-label">Stock</label>
                    <input type="number" name="stock" class="" required>
                </div>
                
                <div class="main__form-buttons">
                    <button type="submit">Insertar</button>
                    <button type="reset">Borrar</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>