<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Edición de Productos'}) %>
    <link rel="stylesheet" href="/css/styleProductCreation.css">
    <script defer src="/js/validateProductEdition.js"></script>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <div class="main-container">
            <h2 class="main__form-tittle">Producto a editar: <%= productToEdit.name %></h2>
            <form action="/products/<%= productToEdit.product_id %>/edit?_method=PUT" method="post" class="main__form" id="form" enctype="multipart/form-data">
                <div>
                    <label for="name" class="main__form-label">Nombre del producto</label>
                    <div class="inputIcon">
                        <input
                            type="text"
                            name="name"
                            id="name"
                            class="<%= locals.errors && errors.name ? "invalid-value" : null %>"
                            value="<%= locals.oldData ? oldData.name : productToEdit.name %>"
                        >
                        <i class="fa-solid fa-triangle-exclamation fa-triangle-exclamationName"></i>
                        <i class="fa-solid fa-circle-check fa-circle-checkName"></i>
                    </div>
                    <% if (locals.errors && errors.name) { %>
                        <div class="form-errors">
                            <%= errors.name.msg %> 
                        </div>
                    <% } %>
                    <small class="form-errors" id="nameError"></small>
                </div>

                <div>
                    <label for="description" class="main__form-label">Descripción</label>
                    <div class="inputIcon">
                        <textarea
                            name="description"
                            id="description"
                            class="<%= locals.errors && errors.description ? "invalid-value" : null %>"
                            rows="5"
                        ><%= locals.oldData ? oldData.description : productToEdit.description %></textarea>
                        <i class="fa-solid fa-triangle-exclamation fa-triangle-exclamationDescription"></i>
                        <i class="fa-solid fa-circle-check fa-circle-checkDescription"></i>
                    </div>
                    <% if (locals.errors && errors.description) { %>
                        <div class="form-errors">
                            <%= errors.description.msg %> 
                        </div>
                    <% } %>
                    <small class="form-errors" id="descriptionError"></small>
                </div>

                <div>
                    <div class="inputIcon">
                        <label
                            for="image"
                            class="main__form-upload <%= locals.errors && errors.image ? "invalid-value" : null %>"
                            id="imageL"
                        >
                            Subir imagen
                        </label>
                        <i class="fa-solid fa-triangle-exclamation fa-triangle-exclamationImage"></i>
                        <i class="fa-solid fa-circle-check fa-circle-checkImage"></i>
                    </div>
                    <input type="file" name="image" id="image">
                    <% if (locals.errors && errors.image) { %>
                        <div class="form-errors">
                            <%= errors.image.msg %> 
                        </div>
                    <% } %>
                    <small class="form-errors" id="imageError"></small>
                </div>

                <div>
                    <div class="inputIcon">
                        <label for="category" class="main__form-label" id="categoryL">Categorías</label>
                        <i class="fa-solid fa-triangle-exclamation fa-triangle-exclamationCategory"></i>
                        <i class="fa-solid fa-circle-check fa-circle-checkCategory"></i>
                    </div>
                    <% for(let i = 0; i < categories.length; i++) { %>
                        <label>
                            <input
                                type="checkbox"
                                value="<%= categories[i].category_id %>"
                                <% if (locals.oldData && oldData.category) { %>
                                    <% for( let j = 0; j < oldData.category.length; j++ ) { %>
                                        <% if (categories[i].category_id == oldData.category[j]) { %>
                                            checked
                                        <% } %>    
                                    <% } %>
                                <% } else { %>
                                    <% for( let j = 0; j < productToEdit.categories.length; j++ ) { %>
                                        <% if (categories[i].category_id == productToEdit.categories[j].category_id) { %>
                                            checked
                                        <% } %>    
                                    <% } %>
                                <% } %>
                                name="category"
                                class="category">
                                <%= categories[i].category %>  
                        </label>
                    <% } %>
                    <% if (locals.errors && errors.category) { %>
                        <div class="form-errors">
                            <%= errors.category.msg %> 
                        </div>
                    <% } %>
                    <small class="form-errors" id="categoryError"></small>
                </div>

                <div>
                    <label for="author" class="main__form-label">Autores</label>
                    <div class="inputIcon">
                        <input
                            type="text"
                            name="author"
                            id="author"
                            class="<%= locals.errors && errors.author ? "invalid-value" : null %>"
                            value="<%= locals.oldData ? oldData.author : productToEdit.author %>"
                        >
                        <i class="fa-solid fa-triangle-exclamation fa-triangle-exclamationAuthor"></i>
                        <i class="fa-solid fa-circle-check fa-circle-checkAuthor"></i>
                    </div>
                    <% if (locals.errors && errors.author) { %>
                        <div class="form-errors">
                            <%= errors.author.msg %> 
                        </div>
                    <% } %>
                    <small class="form-errors" id="authorError"></small>
                </div>

                <div class="inputIcon">
                    <select name="format" id="format" class="<%= locals.errors && errors.format ? "invalid-value" : null %>">
                        <option disabled>Seleccione formato</option>
                        <% for( let i = 0; i < formats.length; i++ ) { %>
                            <option
                                <% if (locals.oldData && oldData.format) { %>
                                    <% if (formats[i].format_id == oldData.format) { %>
                                        selected
                                    <% } %>
                                <% } else { %>
                                    <% if (formats[i].format_id == productToEdit.formats.format_id) { %>
                                        selected
                                    <% } %>
                                <% } %>
                                value="<%= formats[i].format_id %>">
                                <%= formats[i].format %>
                            </option>
                        <% } %>
                    </select>
                    <i class="fa-solid fa-triangle-exclamation fa-triangle-exclamationFormat"></i>
                    <i class="fa-solid fa-circle-check fa-circle-checkFormat"></i>
                </div>
                <% if (locals.errors && errors.format) { %>
                    <div class="form-errors">
                        <%= errors.format.msg %> 
                    </div>
                <% } %>
                <small class="form-errors" id="formatError"></small>

                <div>
                    <label for="pages" class="main__form-label">Páginas</label>
                    <div class="inputIcon">
                        <input
                            type="number"
                            name="pages"
                            id="pages"
                            class="<%= locals.errors && errors.pages ? "invalid-value" : null %>"
                            value="<%= locals.oldData ? oldData.pages : productToEdit.pages %>"
                        >
                        <i class="fa-solid fa-triangle-exclamation fa-triangle-exclamationPages"></i>
                        <i class="fa-solid fa-circle-check fa-circle-checkPages"></i>
                    </div>
                    <% if (locals.errors && errors.pages) { %>
                        <div class="form-errors">
                            <%= errors.pages.msg %> 
                        </div>
                    <% } %>
                    <small class="form-errors" id="pagesError"></small>
                </div>

                <div>
                    <label for="price" class="main__form-label">Precio</label>
                    <div class="inputIcon">
                        <input
                            type="number"
                            name="price"
                            id="price"
                            class="<%= locals.errors && errors.price ? "invalid-value" : null %>"
                            value="<%= locals.oldData ? oldData.price : productToEdit.price %>"
                        >
                        <i class="fa-solid fa-triangle-exclamation fa-triangle-exclamationPrice"></i>
                        <i class="fa-solid fa-circle-check fa-circle-checkPrice"></i>
                    </div>
                    <% if (locals.errors && errors.price) { %>
                        <div class="form-errors">
                            <%= errors.price.msg %> 
                        </div>
                    <% } %>
                    <small class="form-errors" id="priceError"></small>
                </div>

                <div>
                    <label>
                        <input
                            type="checkbox"
                            name="featured"
                            class="" 
                            id="featured"
                            <% if (locals.oldData) { %>
                                <%= oldData.featured == 'on' ? 'checked' : ''; %>
                            <% } else { %>
                                <%= locals.productToEdit && productToEdit.featured == 1 ? 'checked' : ''; %>
                            <% } %>
                        >Producto destacado
                    </label>
                </div>

                <div>
                    <label>
                        <input
                            type="checkbox"
                            name="onSale"
                            class=""
                            id="onSale"
                            <% if (locals.oldData) { %>
                                <%= oldData.onSale == 'on' ? 'checked' : ''; %>
                            <% } else { %>
                                <%= locals.productToEdit && productToEdit.on_sale == 1 ? 'checked' : ''; %>
                            <% } %>
                        >Producto en oferta
                    </label>
                </div>

                <div>
                    <label for="discount" class="main__form-label">Descuento</label>
                    <div class="inputIcon">
                        <input
                            type="number"
                            name="discount"
                            id="discount"
                            class="<%= locals.errors && errors.discount ? "invalid-value" : null %>"
                            value="<%= locals.oldData ? oldData.discount : productToEdit.discount %>"
                            placeholder="Si no está en oferta, es cero (0)"
                        >
                        <i class="fa-solid fa-triangle-exclamation fa-triangle-exclamationDiscount"></i>
                        <i class="fa-solid fa-circle-check fa-circle-checkDiscount"></i>
                    </div>
                    <% if (locals.errors && errors.discount) { %>
                        <div class="form-errors">
                            <%= errors.discount.msg %> 
                        </div>
                    <% } %>
                    <small class="form-errors" id="discountError"></small>
                </div>

                <div>
                    <label for="stock" class="main__form-label">Stock</label>
                    <div class="inputIcon">
                        <input 
                            type="number"
                            name="stock"
                            id="stock"
                            class="<%= locals.errors && errors.stock ? "invalid-value" : null %>"
                            value="<%= locals.oldData ? oldData.stock : productToEdit.stock %>"
                        >
                        <i class="fa-solid fa-triangle-exclamation fa-triangle-exclamationStock"></i>
                        <i class="fa-solid fa-circle-check fa-circle-checkStock"></i>
                    </div>
                    <% if (locals.errors && errors.stock) { %>
                        <div class="form-errors">
                            <%= errors.stock.msg %> 
                        </div>
                    <% } %>
                    <small class="form-errors" id="stockError"></small>
                </div>

                <div class="main__form-buttons">
                    <button type="submit">Modificar</button>
                    <button type="reset">Resetear datos</button>
                </div>

            </form>

            <form action="/products/<%= productToEdit.product_id %>/delete?_method=DELETE" method="POST" class="delete-button">
                <div class="main__form-buttons">
                    <button type="submit">Eliminar producto</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>