<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Creación de Productos'}) %>
    <link rel="stylesheet" href="/css/styleProductCreation.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <div class="main-container">
            <h2 class="main__form-tittle">Creación de productos</h2>
            <form action="/products/create" method="post" class="main__form" enctype="multipart/form-data">
                <div>
                    <label for="name" class="main__form-label">Nombre del producto</label>
                    <input
                        type="text"
                        name="name" 
                        id="name" 
                        class="<%= locals.errors && errors.name ? "invalid-value" : null %>"
                        value="<%= locals.oldData ? oldData.name : null %>"
                    >
                    <% if (locals.errors && errors.name) { %>
                        <div class="form-errors">
                            <%= errors.name.msg %> 
                        </div>
                    <% } %>
                </div>
                
                <div>
                    <label for="description" class="main__form-label">Descripción</label>
                    <textarea 
                        name="description"
                        id="description"
                        class="<%= locals.errors && errors.description ? "invalid-value" : null %>"
                        rows="5"
                    ><%= locals.oldData ? oldData.description : '' %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <div class="form-errors">
                            <%= errors.description.msg %> 
                        </div>
                    <% } %>
                </div>
    
                <div>
                    <label
                        for="image"
                        class="main__form-upload <%= locals.errors && errors.image ? "invalid-value" : null %>"
                    >
                        Subir imagen
                    </label>
                    <input type="file" name="image" id="image">
                    <% if (locals.errors && errors.image) { %>
                        <div class="form-errors">
                            <%= errors.image.msg %> 
                        </div>
                    <% } %>
                </div>
    
                <div>
                    <label for="category" class="main__form-label">Categorías</label>
                    <% for( let i = 0; i < categories.length; i++ ) { %>
                        <label>
                            <input
                                type="checkbox"
                                name="category"
                                value="<%= categories[i].category_id %>"
                                <% if (locals.oldData && oldData.category) { %>
                                    <% for( let j = 0; j < oldData.category.length; j++ ) { %>
                                        <% if (categories[i].category_id == oldData.category[j]) { %>
                                            checked
                                        <% } %>    
                                    <% } %>
                                <% } %>
                                class="">
                                <%= categories[i].category %>
                        </label>
                    <% } %>
                    <% if (locals.errors && errors.category) { %>
                        <div class="form-errors">
                            <%= errors.category.msg %> 
                        </div>
                    <% } %>
                </div>
                
                <div>
                    <label for="author" class="main__form-label">Autores</label>
                    <input
                        type="text"
                        name="author"
                        id="author"
                        class="<%= locals.errors && errors.author ? "invalid-value" : null %>"
                        value="<%= locals.oldData ? oldData.author : null %>"
                    >
                    <% if (locals.errors && errors.author) { %>
                        <div class="form-errors">
                            <%= errors.author.msg %> 
                        </div>
                    <% } %>
                </div>
                
                <select name="format" class="<%= locals.errors && errors.format ? "invalid-value" : null %>">
                    <option disabled selected>Seleccione formato</option>
                    <% for( let i = 0; i < formats.length; i++ ) { %>
                        <option
                            <% if (locals.oldData && oldData.format) { %>
                                <% if (formats[i].format_id == oldData.format) { %>
                                    selected
                                <% } %>
                            <% } %>
                            value="<%= formats[i].format_id %>">
                            <%= formats[i].format %>
                        </option>
                    <% } %>
                </select>
                <% if (locals.errors && errors.format) { %>
                    <div class="form-errors">
                        <%= errors.format.msg %> 
                    </div>
                <% } %>
                
                <div>
                    <label for="pages" class="main__form-label">Páginas</label>
                    <input 
                        type="number"
                        name="pages"
                        id="pages"
                        class="<%= locals.errors && errors.pages ? "invalid-value" : null %>"
                        value="<%= locals.oldData ? oldData.pages : null %>" 
                    >
                    <% if (locals.errors && errors.pages) { %>
                        <div class="form-errors">
                            <%= errors.pages.msg %> 
                        </div>
                    <% } %>
                </div>
                
                <div>
                    <label for="price" class="main__form-label">Precio</label>
                    <input 
                        type="number" 
                        name="price" 
                        id="price"
                        class="<%= locals.errors && errors.price ? "invalid-value" : null %>"
                        value="<%= locals.oldData ? oldData.price : null %>" 
                    >
                    <% if (locals.errors && errors.price) { %>
                        <div class="form-errors">
                            <%= errors.price.msg %> 
                        </div>
                    <% } %>
                </div>

                <div>
                    <label><input type="checkbox" name="featured" class="" id="featured" <%= locals.oldData && oldData.featured == 'on' ? 'checked' : ''; %>>Producto destacado</label>
                </div>

                <div>
                    <label><input type="checkbox" name="onSale" class="" id="onSale" <%= locals.oldData && oldData.onSale == 'on' ? 'checked' : ''; %>>Producto en oferta</label>
                </div>

                <div>
                    <label for="discount" class="main__form-label">Descuento</label>
                    <input
                        type="number"
                        name="discount"
                        placeholder="Si no está en oferta, es cero (0)"
                        class="<%= locals.errors && errors.discount ? "invalid-value" : null %>"
                        value="<%= locals.oldData ? oldData.discount : null %>" 
                    >
                    <% if (locals.errors && errors.discount) { %>
                        <div class="form-errors">
                            <%= errors.discount.msg %> 
                        </div>
                    <% } %>
                </div>

                <div>
                    <label for="stock" class="main__form-label">Stock</label>
                    <input
                        type="number"
                        name="stock"
                        class="<%= locals.errors && errors.stock ? "invalid-value" : null %>"
                        value="<%= locals.oldData ? oldData.stock : null %>" 
                    >
                    <% if (locals.errors && errors.stock) { %>
                        <div class="form-errors">
                            <%= errors.stock.msg %> 
                        </div>
                    <% } %>
                </div>
                
                <div class="main__form-buttons">
                    <button type="submit">Insertar</button>
                    <button type="reset">Borrar</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>