<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Edición de Productos'}) %>
    <link rel="stylesheet" href="/css/styleProductCreation.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <div class="main-container">
            <h2 class="main__form-tittle">Producto a editar: <%= productToEdit.name %></h2>
            <form action="/products/<%= productToEdit.id %>/edit?_method=PUT" method="post" class="main__form" enctype="multipart/form-data">
                <div>
                    <label for="name" class="main__form-label">Nombre del producto</label>
                    <input type="text" name="name" id="name" class="" value="<%= productToEdit.name %>" required>
                </div>

                <div>
                    <label for="description" class="main__form-label">Descripción</label>
                    <textarea name="description" id="description" class="" rows="5"><%= productToEdit.description %></textarea>
                </div>

                <div>
                    <label for="image" class="main__form-upload">Subir imagen</label>
                    <input type="file" name="image" id="image" accept="image/*" class="">
                </div>

                <div>
                    <label for="category" class="main__form-label">Categorías</label>
                    <label><input type="checkbox" name="category" value="dc" class="" <%= locals.productToEdit && productToEdit.category.includes('dc') ? 'checked' : ''; %>>Cómic DC</label>
                    <label><input type="checkbox" name="category" value="marvel" class="" <%= locals.productToEdit && productToEdit.category.includes('marvel') ? 'checked' : ''; %>>Cómic Marvel</label>
                    <label><input type="checkbox" name="category" value="independiente" class="" <%= locals.productToEdit && productToEdit.category.includes('independiente') ? 'checked' : ''; %>>Cómic Independiente</label>
                    <label><input type="checkbox" name="category" value="manga" class="" <%= locals.productToEdit && productToEdit.category.includes('manga') ? 'checked' : ''; %>>Manga</label>
                    <label><input type="checkbox" name="category" value="fantasia" class="" <%= locals.productToEdit && productToEdit.category.includes('fantasia') ? 'checked' : ''; %>>Fantasía</label>
                    <label><input type="checkbox" name="category" value="terror" class="" <%= locals.productToEdit && productToEdit.category.includes('terror') ? 'checked' : ''; %>>Terror</label>
                    <label><input type="checkbox" name="category" value="ficcion" class="" <%= locals.productToEdit && productToEdit.category.includes('ficcion') ? 'checked' : ''; %>>Ciencia Ficción</label>
                    <label><input type="checkbox" name="category" value="drama" class="" <%= locals.productToEdit && productToEdit.category.includes('drama') ? 'checked' : ''; %>>Drama</label>
                </div>

                <div>
                    <label for="author" class="main__form-label">Autores</label>
                    <input type="text" name="author" id="author" value="<%= productToEdit.author %>" class="" required>
                </div>

                <select name="format" class="" required>
                    <option disabled>Seleccione formato</option>
                    <option value="blanda" <%= locals.productToEdit && productToEdit.format === 'blanda' ? 'selected' : ''; %>>Tapa blanda</option>
                    <option value="dura" <%= locals.productToEdit && productToEdit.format === 'dura' ? 'selected' : ''; %>>Tapa dura</option>
                    <option value="deluxe" <%= locals.productToEdit && productToEdit.format === 'deluxe' ? 'selected' : ''; %>>Deluxe</option>
                </select>

                <div>
                    <label for="pages" class="main__form-label">Páginas</label>
                    <input type="number" name="pages" id="pages" value="<%= productToEdit.pages %>" class="" required>
                </div>

                <div>
                    <label for="price" class="main__form-label">Precio</label>
                    <input type="number" name="price" id="price" value="<%= productToEdit.price %>" class="" required>
                </div>

                <div>
                    <label><input type="checkbox" name="featured" class="" id="featured" <%= locals.productToEdit && productToEdit.featured === true ? 'checked' : ''; %>>Producto destacado</label>
                </div>

                <div>
                    <label><input type="checkbox" name="onSale" class="" id="onSale" <%= locals.productToEdit && productToEdit.onSale === true ? 'checked' : ''; %>>Producto en oferta</label>
                </div>

                <div>
                    <label for="discount" class="main__form-label">Descuento</label>
                    <input type="number" name="discount" value="<%= productToEdit.discount %>" class="" required placeholder="Si no está en oferta, es cero (0)">
                </div>

                <div class="main__form-buttons">
                    <button type="submit">Modificar</button>
                    <button type="reset">Resetear datos</button>
                </div>

            </form>

            <form action="/products/<%= productToEdit.id %>/delete?_method=DELETE" method="POST" class="delete-button">
                <div class="main__form-buttons">
                    <button type="submit">Eliminar producto</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>