<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Inicio de Sesión'}) %>
    <link rel="stylesheet" href="/css/loginStyle.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <section>
        <div class="imgBx">
            <img src="/images/loginBackground.jpg" alt="">g
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Inicio de sesión</h2>
                <form action="/users/login" method="post">
                    <div class="inputBx">
                        <span>Correo electrónico</span>
                        <input
                            type="text"
                            name="email"
                            class="<%= locals.errors && errors.email ? "invalid-value" : null %>"
                            value="<%= locals.oldData ? oldData.email : null %>"
                        >
                        <% if (locals.errors && errors.email) { %>
                            <div class="form-errors">
                                <%= errors.email.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="inputBx">
                        <span>Contraseña</span>
                        <input
                            type="password"
                            name="password"
                            class="<%= locals.errors && errors.password ? "invalid-value" : null %>"
                        >
                        <% if (locals.errors && errors.password) { %>
                            <div class="form-errors">
                                <%= errors.password.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="remember">
                        <label><input type="checkbox" name="rememberMe"> Recuérdame</label>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Ingresar">
                    </div>
                    <div class="inputBx">
                        <p>¿No tienes una cuenta? <a href="/users/sign-up">Crear cuenta</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>