<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Registro'}) %>
    <link rel="stylesheet" href="/css/registerStyle.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <section>
        <div class="imgBx">
            <img src="/images/registerBackground.jpg" alt="">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Registro</h2>
                <form method="post" action="/users/sign-up" enctype="multipart/form-data">
                    <div class="inputBx">
                        <label>Usuario</label>
                        <input 
                            type="text" 
                            name="user"
                            <% if (locals.errors) { %>
                                <% locals.errors.forEach(error => { %> 
                                    <% if (error.param == 'user') { %>
                                        class="invalid-value"
                                    <% } %>
                                <% }); %> 
                            <% } %>
                            value="<%= locals.oldData ? oldData.user : null %>"
                        >
                        <% if (locals.errors) { %>
                            <% locals.errors.forEach(error => { %> 
                                <% if (error.param == 'user') { %>
                                    <div class="form-errors">
                                        <%= error.msg %> 
                                    </div>
                                <% } %>
                            <% }); %> 
                        <% } %>
                    </div>
                    <div class="inputBx">
                        <label>Nombre(s)</label>
                        <input
                            type="text"
                            name="name"
                            <% if (locals.errors) { %>
                                <% locals.errors.forEach(error => { %> 
                                    <% if (error.param == 'name') { %>
                                        class="invalid-value"
                                    <% } %>
                                <% }); %> 
                            <% } %>
                            value="<%= locals.oldData ? oldData.name : null %>"
                        >
                        <% if (locals.errors) { %>
                            <% locals.errors.forEach(error => { %> 
                                <% if (error.param == 'name') { %>
                                    <div class="form-errors">
                                        <%= error.msg %> 
                                    </div>
                                <% } %>
                            <% }); %> 
                        <% } %>
                    </div>
                    <div class="inputBx">
                        <label>Apellido(s)</label>
                        <input
                            type="text"
                            name="lastName"
                            <% if (locals.errors) { %>
                                <% locals.errors.forEach(error => { %> 
                                    <% if (error.param == 'lastName') { %>
                                        class="invalid-value"
                                    <% } %>
                                <% }); %> 
                            <% } %>
                            value="<%= locals.oldData ? oldData.lastName : null %>"
                        >
                        <% if (locals.errors) { %>
                            <% locals.errors.forEach(error => { %> 
                                <% if (error.param == 'lastName') { %>
                                    <div class="form-errors">
                                        <%= error.msg %> 
                                    </div>
                                <% } %>
                            <% }); %> 
                        <% } %>
                    </div>
                    <div class="inputBx">
                        <label>Correo electrónico</label>
                        <input
                            type="email"
                            name="email"
                            <% if (locals.errors) { %>
                                <% locals.errors.forEach(error => { %> 
                                    <% if (error.param == 'email') { %>
                                        class="invalid-value"
                                    <% } %>
                                <% }); %> 
                            <% } %>
                            value="<%= locals.oldData ? oldData.email : null %>"
                        >
                        <% if (locals.errors) { %>
                            <% locals.errors.forEach(error => { %> 
                                <% if (error.param == 'email') { %>
                                    <div class="form-errors">
                                        <%= error.msg %> 
                                    </div>
                                <% } %>
                            <% }); %> 
                        <% } %>
                    </div>
                    <div class="inputBx">
                        <label>Contraseña</label>
                        <input
                            type="password"
                            name="password1"
                            <% if (locals.errors) { %>
                                <% locals.errors.forEach(error => { %> 
                                    <% if (error.param == 'password1') { %>
                                        class="invalid-value"
                                    <% } %>
                                <% }); %> 
                            <% } %>
                            value="<%= locals.oldData ? oldData.password1 : null %>"
                        >
                        <% if (locals.errors) { %>
                            <% locals.errors.forEach(error => { %> 
                                <% if (error.param == 'password1') { %>
                                    <div class="form-errors">
                                        <%= error.msg %> 
                                    </div>
                                <% } %>
                            <% }); %> 
                        <% } %>
                    </div>
                    <div class="inputBx">
                        <label>Confirmar contraseña</label>
                        <input
                            type="password"
                            name="password2"
                            <% if (locals.errors) { %>
                                <% locals.errors.forEach(error => { %> 
                                    <% if (error.param == 'password2') { %>
                                        class="invalid-value"
                                    <% } %>
                                <% }); %> 
                            <% } %>
                        >
                        <% if (locals.errors) { %>
                            <% locals.errors.forEach(error => { %> 
                                <% if (error.param == 'password2') { %>
                                    <div class="form-errors">
                                        <%= error.msg %> 
                                    </div>
                                <% } %>
                            <% }); %> 
                        <% } %>
                    </div>
                    <div class="inputBx">
                        <label for="avatar" class="main__form-upload
                        <% if (locals.errors) { %>
                            <% locals.errors.forEach(error => { %> 
                                <% if (error.param == 'avatar') { %>
                                    invalid-value
                                <% } %>
                            <% }); %> 
                        <% } %>
                        ">Imagen de perfil</label>
                        <input type="file" name="avatar" id="avatar">
                        <% if (locals.errors) { %>
                            <% locals.errors.forEach(error => { %> 
                                <% if (error.param == 'avatar') { %>
                                    <div class="form-errors">
                                        <%= error.msg %> 
                                    </div>
                                <% } %>
                            <% }); %> 
                        <% } %>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Crear cuenta">
                    </div>
                    <div class="inputBx">
                        <p>¿Ya tienes una cuenta? <a href="/users/login">Inicia sesión</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>